{% extends "base.html" %}{% load static %}
<span></span>
{% block title %}{{page_title}}{% endblock %}
<span></span>
{% block content %}
<div class="container mx-auto my-5 flex justify-center">
  <div class="relative rounded-lg flex flex-col justify-center items-center font-sans font-normal text-base py-10 px-20 md:shadow-xl md:h-auto w-full mx-2">
    <span class="font-extrabold text-lg mb-6">Tentang Perahu Media</span>
    <p class="text-center md:text-justify">Perahu Media merupakan wadah yang dibuat untuk membagikan informasi mengenai dunia komputer terutama pada bidang akademik. Perahu Media didirikan oleh Samsul Muarrif, dkk. pada tahun 2020.</p>
    <span class="font-extrabold text-lg mt-8 mb-6">Logo Perahu Media</span>
    <div class="w-60 md:w-8/12 py-12">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 501.36 214.72" fill="currentcolor" style="display: block">
        <defs>
          <style>
            .cls-1,
            .cls-3,
            .cls-4,
            .cls-5,
            .cls-6 {
              fill: #231f20;
            }
            .cls-1,
            .cls-2,
            .cls-4 {
              stroke: #231f20;
            }
            .cls-1,
            .cls-4 {
              stroke-linejoin: round;
            }
            .cls-1,
            .cls-2 {
              stroke-width: 4px;
            }
            .cls-2 {
              fill: #fff;
              stroke-miterlimit: 10;
            }
            .cls-4 {
              stroke-width: 3px;
            }
            .cls-5 {
              font-size: 73.76px;
            }
            .cls-5,
            .cls-6 {
              font-family: Metropolis-Black, Metropolis;
              font-weight: 800;
            }
            .cls-6 {
              font-size: 72.79px;
            }
          </style>
        </defs>
        <title></title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <g id="Layer_6" data-name="Layer 6">
              <path class="cls-1" d="M73.26,131.55H15.19a178,178,0,0,0-4.88,25.86,118.51,118.51,0,0,0,51.52,45.24c1.24.54,2.48,1.09,3.69,1.6,2,.62,3.9,1.2,5.87,1.72a213.65,213.65,0,0,1,.23-65.47C72.1,137.49,72.66,134.51,73.26,131.55Z" />
              <path class="cls-2" d="M187,147.05a168.13,168.13,0,0,0,22.19,27.54,122.88,122.88,0,0,1-27.46,22.29S186,156.5,187,147.05Z" />
              <path class="cls-1" d="M187,147.05q-5-7.53-9.13-15.5H83.16c-.61,3-1.18,6-1.66,9.09a213.34,213.34,0,0,0-.23,65.47,175.4,175.4,0,0,0,54.65,6.47,103.89,103.89,0,0,0,11.89-2.14,118.7,118.7,0,0,0,33.88-13.56c.37-3.91.83-8.5,1.44-14.28Z" />
              <path class="cls-3" d="M500,119.28H1.38c-.76,0-1.38-.46-1.38-1v-6.59c0-.57.62-1,1.38-1H500c.76,0,1.37.46,1.37,1v6.59C501.36,118.82,500.75,119.28,500,119.28Z" />
              <path class="cls-1" d="M81.79,101A213.22,213.22,0,0,1,153.28,3.71c.1-.56.28-1.15.42-1.71A178.32,178.32,0,0,0,26.45,101Z" />
              <path class="cls-4" d="M160.11,80a176.63,176.63,0,0,1,3-76.11A213.22,213.22,0,0,0,91.72,101h73.54A175.58,175.58,0,0,1,160.11,80Z" />
              <text class="cls-5" transform="translate(242.25 191.03)">MEDIA</text>
              <text class="cls-6" transform="translate(177.81 82.99)">PERAHU</text>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>

{% endblock %}
