{% extends "base.html" %}{% load widget_tweaks %}
<span></span>
{% block title %}PM | Daily{% endblock %} {% block content %}

<div class="mx-20 mt-6">
  <div class="flex flex-row justify-center items-center md:justify-start pb-2 text-xl font-semibold font-sans border-b border-gray-200">
    {% if previous_day %}
    <a href="/{{ previous_day|date:'Y' }}/{{ previous_day|date:'m' }}/{{ previous_day|date:'d' }}/" class="flex items-center justify-center pb-1 mx-1 rounded-lg h-12 w-10 hover:bg-gray-100">&LT;</a>{% else %}
    <div class="w-10"></div>
    {% endif %} {% if day %}
    <small class="text-sm font-semibold flex items-center justify-center py-1 px-3 mt-1 rounded-lg h-12">
      <span class="pb-1">{{ day|date:"j" }}</span> &MediumSpace; <span class="px-1 pb-1 rounded-md hover:bg-gray-100"><a href="/{{ day|date:'Y' }}/{{ day|date:'m' }}/">{{ day|date:"F," }}</a></span>
      <span class="pb-1">{{ day|date:"Y" }}</span>
    </small>
    {% endif %} {% if next_day %} <a href="/{{ next_day|date:'Y' }}/{{ next_day|date:'m' }}/{{ next_day|date:'d' }}" class="flex items-center justify-center pb-1 mx-1 rounded-lg h-12 w-10 hover:bg-gray-100">&GT;</a
    ><span></span>
    {% else %}
    <div class="w-10"></div>
    {% endif %}
  </div>
  <div class="py-8 flex flex-col md:grid md:grid-flow-row -mx-2 md:mx-6 mt-3 md:mt-1">
    {% for post in object_list %}
    <a href="/{{ post.created_on|date:'Y' }}/{{ post.created_on|date:'m' }}/{{ post.created_on|date:'d' }}/{{ post.slug }}/">
      <div class="px-8 mx-3 py-3 my-2 border rounded-xl shadow-lg hover:bg-gray-200">
        <ul>
          <li class="font-semibold text-base py-2 mb-2 flex justify-between">
            <div>{{ post.title }}</div>
            <div class="font-normal">{{ post.created_on|date:"d/m/Y" }}</div>
          </li>
          <div class="text-sm">
            <p>{{ post.content|safe|truncatewords:30 }}</p>
          </div>
          <li>
            <div class="flex items-center my-2">
              <div class="flex text-xl" style="color: rgb(167, 152, 152)"><i class="fa fa-tags"></i></div>
              <div class="">
                {% for tag in post.tags.all %}
                <a
                  href="{% url 'tag_list' tag.slug %}"
                  style="background-color: rgb(167, 152, 152)"
                  class="px-2 py-1 mx-1 rounded-md bg-gray-400 text-xs font-semibold text-gray-50 inline-flex items-center justify-center"
                >
                  {{tag.name|capfirst}}
                </a>
                <!-- {% if not forloop.last %}, {% endif %}  -->
                {% endfor %}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </a>
    {% endfor %}
    <!-- <p>{% if previous_day and next_day %}--{% endif %}</p> -->
  </div>
</div>
{% endblock %}
