{% extends "base.html" %}
<span></span>
{% block title %}PM | Montly{% endblock %} {% block content %}
<div class="flex items-baseline justify-start">
  <div class="flex flex-row justify-center items-center md:justify-start text-xl font-semibold font-sans ml-14 md:ml-28">
    {% if previous_month %}
    <a href="/{{ previous_month|date:'Y' }}/{{ previous_month|date:'m' }}/" class="flex items-center justify-center mx-1 w-10 pb-3 hover:shadow-lg">&Lt;</a>
    {% else %}
    <div class="w-12"></div>
    {% endif %}
    <span class="pb-3 -mx-2">|</span>
    {% if next_month %}
    <a href="/{{ next_month|date:'Y' }}/{{ next_month|date:'m' }}/" class="flex items-center justify-center mx-1 h-8 w-10 pb-3 hover:shadow-lg">&Gt;</a><span></span>
    {% else %}
    <div class="w-12"></div>
    {% endif %}
  </div>
  <div class="border-b border-gray-200 w-max mx-26 pt-6 pb-3 flex justify-start font-semibold text-xl">Artikel Bulan {{ month|date:"F" }}</div>
</div>
<div class="flex flex-col md:flex-row mb-8">
  <div class="flex flex-col md:grid md:grid-flow-row mx-6 my-3 md:ml-20 md:mt-4 md:w-2/3">
    {% for post in object_list %}
    <a href="/{{ post.created_on|date:'Y' }}/{{ post.created_on|date:'m' }}/{{ post.created_on|date:'d' }}/{{ post.slug }}/">
      <div class="px-8 mx-3 py-3 my-2 border rounded-xl shadow-lg hover:bg-gray-200">
        <ul>
          <li class="font-semibold text-base py-2 mb-2 flex justify-between">
            <div>{{ post.title }}</div>
            <div class="font-normal">{{ post.created_on|date:"d/m/Y" }}</div>
          </li>
          <div class="text-sm">
            <p>{{ post.content|safe|truncatewords:20 }}</p>
          </div>
          <li>
            <div class="flex items-center my-2">
              <div class="flex text-xl" style="color: rgb(167, 152, 152)"><i class="fa fa-tags"></i></div>
              <div class="">
                {% for tag in post.tags.all %}
                <a
                  href="{% url 'tag_list' tag.slug %}"
                  style="background-color: rgb(167, 152, 152)"
                  class="px-2 py-1 mx-1 rounded-md bg-gray-400 text-xs font-semibold text-gray-50 inline-flex items-center justify-center"
                >
                  {{tag.name|capfirst}}
                </a>
                <!-- {% if not forloop.last %}, {% endif %}  -->
                {% endfor %}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="md:w-1/3">
    <div class="border-l border-t md:border-t-0 mt-10 px-8 py-3 h-auto top-14 md:fixed">
      <a href="/arsip/">
        <h1 class="text-lg font-semibold">Arsip Postingan</h1>
      </a>
      <h2 class="text-base font-semibold">Tahun 2021</h2>
      <ul class="">
        <li><a href="/2021/08/">Agustus</a></li>
        <li><a href="/2021/09/">September</a></li>
        <li><a href="/2021/10/">Oktober</a></li>
        <li><a href="/2021/11/">November</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- <p>{% if previous_month %} Previous Month: {{ previous_month|date:"F Y" }} {% endif %} {% if next_month %} Next Month: {{ next_month|date:"F Y" }} {% endif %}</p> -->

{% endblock %}
