{% extends "base.html" %}
<span></span>
{% block title %}PM | Archive{% endblock %} {% block content %}

<h1 class="border-b border-gray-200 w-max mx-26 pt-6 pb-3 flex justify-start font-semibold text-xl ml-14 md:ml-28">Semua Artikel</h1>
<div class="flex flex-col md:flex-row mb-8">
  <div class="flex flex-col md:grid md:grid-cols-2 mx-6 my-3 md:ml-20 md:mt-4 md:w-2/3">
    {% for post in latest %}
    <a href="/{{ post.created_on|date:'Y' }}/{{ post.created_on|date:'m' }}/{{ post.created_on|date:'d' }}/{{ post.slug }}/">
      <div class="px-8 mx-3 py-3 my-2 lg:h-60 border rounded-xl shadow-lg hover:bg-gray-200 h-72">
        <ul>
          <li class="pb-8">{{ post.created_on|date:"d/m/Y" }}</li>
          <li class="font-semibold text-base py-2">{{ post.title }}</li>
          <div class="text-sm">
            <p>{{ post.content|safe|truncatewords:15 }}</p>
          </div>
        </ul>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="md:w-1/3">
    <div class="border-l border-t md:border-t-0 mt-10 px-8 py-3 h-auto top-14 md:fixed">
      <h1 class="text-lg font-semibold mx-4 md:mx-0">Arsip Postingan</h1>
      <h2 class="text-base font-semibold mx-4 md:mx-0">Tahun 2021</h2>
      <ul class="mx-6 md:mx-0">
        <li><a href="/2021/08/">Agustus</a></li>
        <li><a href="/2021/09/">September</a></li>
        <li><a href="/2021/10/">Oktober</a></li>
        <li><a href="/2021/11/">November</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
