{% extends "base.html" %}{% load static hitcount_tags %}
<span></span>
{% block title %}Perahu Media | Home{% endblock %} {% block content %}
<span></span>
<!-- Banner -->
<div class="grid grid-cols-1 grid-rows-1 mx-3 my-1 md:mx-4 md:mt-2">
  <div class="flex justify-center ">
    <div class="-mx-40 -mt-6 md:-mt-10 w-screen h-24 md:h-60 border shadow-xl inset-0 object-fill object-center bg-black bg-opacity-10 bg-cover bg-scroll bg-center md:bg-center" style="background-image: url('{% static 'img/Banner.jpg' %}'); background-blend-mode: multiply">
    </div>    
  </div>
</div>
<!-- end -->
<div class="flex flex-col justify-center mb-8">
  <div class="flex justify-center">
    <!-- tbl prev -->
    <div class="hidden lg:flex items-center ml-10 text-xl font-bold font-sans">
      {% if page_obj.has_previous %}
      <a href="?page=1" class="flex items-center justify-center pb-1 mx-1 border rounded-lg h-12 w-10 hover:bg-gray-200">&Lt;</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center pb-1 mx-1 border rounded-lg h-12 w-10 hover:bg-gray-200">&LT;</a>
      {% else %}
      <div class="w-24 "></div>
      {% endif %}
    </div>
    <!-- end -->
    <!-- pos -->
    <div class="flex flex-col items-center">
      <div class="flex flex-col lg:grid lg:grid-cols-3 mx-6 my-3 md:mx-2 md:mt-10">
        {% for post in page_obj %}
        <a href="/{{ post.created_on|date:'Y' }}/{{ post.created_on|date:'m' }}/{{ post.created_on|date:'d' }}/{{ post.slug }}/">
          <div class="mx-1 my-2 h-90 sm:h-90 lg:h-90 border rounded-xl shadow-lg hover:bg-gray-100">
            <div class="rounded-t-xl h-40 bg-black bg-opacity-40 bg-cover" style="background-image: url('/media/{{ post.cover_img }}')"></div>     
            <ul class="px-4 py-4 grid h-60">
              <li class="text-base font-semibold pb-2">{{ post.title }}</li>  
              <span class="border-b border-solid border-black h-1 "></span>            
              <li class="text-sm">{{ post.content|safe|truncatewords:16 }}</li> 
              <li>Views: {% get_hit_count for post %}</li>             
              <li class="flex items-center mt-6 px-2 w-max h-8 rounded-lg bg-gray-200 text-sm font-medium">By: {{ post.author|capfirst }} | <span class="text-xs font-normal">&ThinSpace; On: {{ post.created_on|date:"F j, Y" }}</span></li>
            </ul>                  
          </div>        
        </a>
        {% endfor %}
      </div>
      <div class="hidden lg:block">
        <span class="text-sm font-semibold flex items-center justify-center py-1 px-3 border rounded-lg h-10 shadow-lg"> {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} Display(s) </span>
      </div>
     
    </div>
    <!-- end -->
    <!-- tbl next -->
    <div class="hidden lg:flex items-center mr-10 text-xl font-bold font-sans"">
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center pb-1 mx-1 border rounded-lg h-12 w-10 hover:bg-gray-200">&GT;</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="flex items-center justify-center pb-1 mx-1 border rounded-lg h-12 w-10 hover:bg-gray-200">&Gt;</a>
      {% else %}
      <div class="w-24 "></div>
      {% endif %}
    </div>
    <!-- end -->  
  </div>

  <!-- phone mode -->
  <div class="flex justify-center items-center lg:hidden text-xl font-bold font-sans">
    {% if page_obj.has_previous %}
    <a href="?page=1" class="flex items-center justify-center pb-1 mx-1 border rounded-lg h-12 w-10 hover:bg-gray-200">&Lt;</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center pb-1 mx-1 border rounded-lg h-12 w-10 hover:bg-gray-200">&LT;</a>  
    {% else %}
      <div class="w-24 "></div>
      {% endif %}
    <div class="items-center">
      <span class="text-sm font-semibold flex items-center justify-center py-1 px-3 border rounded-lg h-12"> {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>
    </div>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center pb-1 mx-1 border rounded-lg h-12 w-10 hover:bg-gray-200">&GT;</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="flex items-center justify-center pb-1 mx-1 border rounded-lg h-12 w-10 hover:bg-gray-200">&Gt;</a>  
    {% else %}
      <div class="w-24 "></div>
      {% endif %}
  </div>
  <!-- end -->
</div>

<!-- tags -->
<div class="flex items-center mx-10 sm:mx-36 mb-4">
  <svg class="hidden sm:block w-8 mx-2" viewBox="0 0 393.89 342.41">
    <path
      d="M389.22,52.63a27.08,27.08,0,0,0-14.48-11.56s0,0,0,0L261.07,2.11H261A27,27,0,0,0,238.4,4.3L14.33,133.66A27.53,27.53,0,0,0,4.27,171.21L94.84,328.08a27.56,27.56,0,0,0,37.55,10.06L356.46,208.78a27.09,27.09,0,0,0,13.22-18.49v0L392.8,72.35s0,0,0,0a27.13,27.13,0,0,0-2.91-18.58c-.21-.37-.43-.76-.65-1.12ZM353.31,74.28a25.92,25.92,0,1,1-35.39-9.51,25.87,25.87,0,0,1,35.39,9.51Z"
    />
  </svg>
  {% for post in page_obj %} {% for tag in post.tags.all %}
  <a href="{% url 'tag_list' tag.slug %}" class="mx-1 px-2 pb-1 my-2 rounded-md bg-gray-600 text-xs font-semibold text-gray-100 inline-flex items-center justify-center"> {{tag.name|capfirst}} </a>
  <!-- {% if not forloop.last %}, {% endif %}  -->
  {% endfor %} {% endfor %}
</div>
<!-- end -->

{% endblock %}
