{% extends "base.html" %}
<span></span>
{% block title %}PM | Archive{% endblock %} {% block content %}

<h1 class="border-b border-gray-200 w-max mx-26 pt-6 pb-3 flex justify-start font-semibold text-xl ml-14 md:ml-28">Semua Artikel</h1>
<div class="flex flex-col md:flex-row mb-8">
  <div class="flex flex-col md:grid md:grid-cols-2 mx-6 my-3 md:ml-20 md:mt-4 md:w-2/3">
    {% for post in latest %}
    <a href="/{{ post.created_on|date:'Y' }}/{{ post.created_on|date:'m' }}/{{ post.created_on|date:'d' }}/{{ post.slug }}/">
      <div class="px-8 mx-3 py-3 my-2 lg:h-60 border rounded-xl shadow-lg hover:bg-gray-200 h-72">
        <ul>
          <li class="pb-2">{{ post.created_on|date:"d/m/Y" }}</li>
          <li class="font-semibold text-base py-2">{{ post.title }}</li>
          <div class="text-sm">
            <p>{{ post.content|safe|truncatewords:15 }}</p>
          </div>
        </ul>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="md:w-1/3">
    <div class="border-l border-t md:border-t-0 mt-10 px-8 py-3 h-auto top-14 md:fixed">
      <h1 class="text-lg font-semibold mx-4 md:mx-0">Arsip Postingan</h1>
      <h2 class="text-base font-semibold mx-4 md:mx-0">Tahun 2021</h2>
      <ul class="mx-6 md:mx-0">
        <li><a href="/2021/08/">Agustus</a></li>
        <li><a href="/2021/09/">September</a></li>
        <li><a href="/2021/10/">Oktober</a></li>
        <li><a href="/2021/11/">November</a></li>
      </ul>
      <div class="flex items-start mt-2">
        <svg class="w-8 mx-2 mt-2" viewBox="0 0 393.89 342.41">
          <path
            d="M389.22,52.63a27.08,27.08,0,0,0-14.48-11.56s0,0,0,0L261.07,2.11H261A27,27,0,0,0,238.4,4.3L14.33,133.66A27.53,27.53,0,0,0,4.27,171.21L94.84,328.08a27.56,27.56,0,0,0,37.55,10.06L356.46,208.78a27.09,27.09,0,0,0,13.22-18.49v0L392.8,72.35s0,0,0,0a27.13,27.13,0,0,0-2.91-18.58c-.21-.37-.43-.76-.65-1.12ZM353.31,74.28a25.92,25.92,0,1,1-35.39-9.51,25.87,25.87,0,0,1,35.39,9.51Z"
          />
        </svg>
        <div class="">
          {% for post in latest %} {% for tag in post.tags.all %}
          <a href="{% url 'tag_list' tag.slug %}" class="mr-1 px-2 pb-1 my-2 rounded-md bg-gray-600 text-xs font-semibold text-gray-100 inline-flex items-center justify-center"> {{tag.name|capfirst}} </a>
          <!-- {% if not forloop.last %}, {% endif %}  -->
          {% endfor %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
