{% extends "base.html" %}
<span></span>
{% block title %}PM | Tags{% endblock %} {% block content %} {% if tag %}
<div class="container mx-auto my-5 flex flex-col items-start">
  <div class="text-2xl rounded-lg flex items-center justify-center md:shadow-xl mx-10 px-4 py-3">
    <div class="flex mr-2" style="color: rgb(167, 152, 152)"><i class="fa fa-tags"></i></div>
    <span class="font-sans font-bold text-gray-700"> {{ tag.name|capfirst }}</span>
  </div>
  {% endif %} {% for pos in posts %}
  <div class="container mx-auto my-5">
    <a href="/{{ pos.created_on|date:'Y' }}/{{ pos.created_on|date:'m' }}/{{ pos.created_on|date:'d' }}/{{ pos.slug }}/" target="_blank">
      <div class="relative rounded-lg flex flex-col justify-start shadow-xl mx-4 md:m-10 p-8 md:mt-4 hover:bg-gray-200">
        <h3 class="font-bold text-2xl text-gray-700">{{ pos.title }}</h3>
        <p class="text-gray-600">{{ pos.content|safe|truncatewords:35}}</p>
        <div class="py-2"><span class="font-semibold text-sm">Read more</span><span class="text-xs ml-1">&#x279c;</span></div>
        <div class="flex items-center mt-2">
          <div class="flex text-xl mr-2" style="color: rgb(167, 152, 152)"><i class="fa fa-tags"></i></div>
          {% for tag in pos.tags.all %}
          <a href="{% url 'tag_list' tag.slug %}" style="background-color: rgb(167, 152, 152)" class="px-1 py-1 mx-1 rounded-md bg-gray-400 text-xs font-semibold text-gray-50 inline-flex items-center justify-center">
            {{tag.name|capfirst}}
          </a>
          <!-- {% if not forloop.last %}, {% endif %}  -->
          {% endfor %}
        </div>
      </div>
    </a>
  </div>
</div>
{% endfor %} {% endblock %}
